attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.12.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
constantly==23.10.4
cryptography==39.0.2
cssselect==1.3.0
defusedxml==0.7.1
filelock==3.20.0
greenlet==3.2.4
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
itemadapter==0.12.2
itemloaders==1.3.2
jmespath==1.0.1
lxml==4.9.3
packaging==23.2
parsel==1.10.0
priority==1.3.0
Protego==0.5.0
psycopg2-binary==2.9.9
pyaml==23.12.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyDispatcher==2.0.7
pyOpenSSL==23.2.0
python-dateutil==2.8.2
PyYAML==6.0.3
queuelib==1.8.0
requests==2.31.0
requests-file==3.0.1
Scrapy==2.10.0
service-identity <= 21.1.0
six==1.17.0
soupsieve==2.8
SQLAlchemy==2.0.23
tldextract==5.3.0
tomli==2.3.0
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.15.0
urllib3==2.6.0
w3lib==2.3.1
zope.interface==8.1.1
